body{
    margin: 0;
    padding: 0;
    /* background-color: blueviolet;
    background-image: url('img\ 1.jpg');
    background-repeat: repeat-y;
    background-position: top right; */
    background: url('img\ 1.jpg') repeat-x top 50px left 100px firebrick; 

}
html,
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}